﻿.version-warning {
    background-image: repeating-linear-gradient(-45deg,
        transparent,
        transparent 10px,
        #5b5206 10px,
        #5b5206 20px);
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 8px 20px 8px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 100%;
}

.version-warning a {
    display: inline;
    padding: 0px;
}
